<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of movie <%= @movie.title %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Rating:</th>
          <td><%= @movie.rating %></td>
        </tr>
        <tr>
          <th>Rank:</th>
          <td><%= @movie.rank %></td>
        </tr>
        <tr>
          <th>Year:</th>
          <td><%= @movie.year %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to 'Home', movie_index_url %>
</div>
